.result-name-box {
  margin-left: 1.5rem;
  margin-top: 1.5rem;
  display: flex;
  gap: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
}
.result-text-box {
  margin-left: 1.5rem;
  display: flex;
  gap: 0.5rem;
  font-size: 1.2rem;
  font-weight: bold;
}

.result-score {
  color: rgba(30, 216, 140, 1);
}

.result-score-box {
  display: flex;
  gap: 1rem;
  margin-left: 1.5rem;
}
