.main-sentence {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 8px;
}

.pronunciation {
  font-size: 1rem;
  color: gray;
  margin-left: 10px;
  font-weight: 200;
}

.content-label-container {
  padding-right: 10px;
  vertical-align: top;
}

.content-text-container {
  padding-left: 10px;
}

.content-text-title {
  font-size: 0.8rem;
  font-weight: 400;
  margin-bottom: 3px;
}

.content-text-explain {
  font-size: 0.8rem;
  font-weight: 400;
}

.label {
  display: inline-block;
  padding: 3px 4px;
  border-radius: 15px;
  color: white;
  font-weight: bold;
  font-size: 0.7rem;
  text-align: center;
  width: fit-content;
  height: fit-content;
}

.red {
  background-color: #ff7f7f; /* 빨간색 배경 */
}

.blue {
  background-color: #7f7fff; /* 파란색 배경 */
}

.purple {
  background-color: #b07fff; /* 보라색 배경 */
}

.exercise {
  margin-top: 20px;
  text-align: center;
}

.exercise .korean-sentence {
  font-size: 1.2rem;
  font-weight: bold;
}

.exercise .blank {
  display: inline-block;
  width: 50px;
  height: 30px;
  border: 1px solid #ccc;
  vertical-align: middle;
  margin: 0 10px;
}

.exercise .english-sentence {
  margin-top: 10px;
  font-size: 1rem;
  color: gray;
}