.main-sentence {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 8px;
}

.pronunciation {
  font-size: 0.7rem;
  color: gray;
  margin-left: 10px;
  font-weight: 200;
}

.content-label-container {
  padding-right: 10px;
  vertical-align: top;
}

.content-text-container {
  padding-left: 10px;
}

.content-text-title {
  font-size: 0.8rem;
  font-weight: bold;
  margin-bottom: 3px;
}

.content-text-explain {
  font-size: 0.8rem;
  font-weight: 400;
}

.label {
  display: inline-block;
  padding: 3px 7px;
  border-radius: 15px;
  color: white;
  font-weight: bold;
  font-size: 0.7rem;
  text-align: center;
  width: fit-content;
  height: fit-content;
}

.red {
  background-color: #ff7f7f; /* 빨간색 배경 */
}

.blue {
  background-color: #7f7fff; /* 파란색 배경 */
}

.purple {
  background-color: #b07fff; /* 보라색 배경 */
}

.color2 {
  background-color: #7fc8ff;
}

.color3 {
  background-color: #cccccc;
}

.exercise {
  margin-top: 20px;
  text-align: center;
}
.korean-sentence {
  display: table;
  text-align: center;
  padding-bottom: 10px;
  margin: 0 auto;
  margin-top: 40px;
}
.exercise .korean-sentence div{
  font-size: 2.4rem;
  font-weight: normal;
  display: table-cell;
  padding: 0 20px;
}

.exercise .blank {
  display: table-cell;
  width: 100px;
  height: 40px;
  border: 1px solid #ccc;
  margin-left: 10px;
}

.exercise .english-sentence {
  width: auto;
  margin-top: 10px;
  font-size: 1rem;
  color: gray;
}

.explain-tbody {
  margin-bottom: 15px;
}