.main {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  width: 100vw;
  height: 100vh;
}
.device-main {
  display: flex;
  flex-direction: column;
  
  border: 1px solid #D8D8D8;
  background-color: #F8F8F8;
  width: 50vw; /* 화면 너비의 50% */
  height: calc(50vw * (19 / 9)); /* 너비의 19/9 비율로 높이 설정 */
  margin-left: 55vw;

  max-width: 375px;
  max-height: 812px;

  min-width: 390px;
  min-height: 844px;
}

.device-main-content {
  overflow-y: auto;
}

@media (max-width: 1500px) {
  .device-main {
    margin-left: 45vw; /* 화면이 작아질 때 마진 줄이기 */
    min-width: 0px;
    min-height: 0px;

    max-height: 90vh;
  }
}

@media (max-width: 1000px) {
  .device-main {
    margin-left: 35vw; /* 화면이 작아질 때 마진 줄이기 */
    width: 50vw; /* 화면 너비의 50% */
    min-width: 0px;
    min-height: 0px;
  }
}

@media (max-width: 800px) {
  .device-main {
    margin-left: 0px;
  }
}

@media (max-width: 450px) {
  .device-main {
    margin-left: 0px;
    min-width: 100vw;
    min-height: 100vh;
  }
}


/* @media (max-width: 500px) and (max-width: 900px) {
  .device-main {
    width: 100%;
    height: 100%;
    margin-left: 0px;

    min-width: 0px;
    min-height: 0px;
  }
} */