.next-button {
  position: absolute;
  padding: 10px;
  margin-top: 10px;
  border-radius: 4px;
  width: 100%;
  text-align: center;
  bottom: 0;
  cursor: pointer;
  color: black;
  background-color: rgba(30, 216, 140, 1);
}
